.navbar{
    background-color: #654321;
}

.hello{
    background-color: #98ff98;
}

.carousel-text{
    background: rgba(199, 180, 70, 0.65);
    border-radius: 4px;
}

.advatages{
    text-align: center;
    margin: 0 auto;
}

.org{
    color: #c7b446
}

.col{
    margin-top: 30px;
}

.nav-link-text{
    color: white;
}

.nav-link-text:hover{
    color: #c7b446;
}

.btn-outline-light{
    background-color: #836b54;
}

.btn-outline-light:hover{
    background-color: #c7b446;
}

.navbar-brand{
    color: #c7b446
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #c7b446;
}

.btn-outline-success{
    color: white;
    border-color: #c7b446;
    background-color: #836b54;
}

.btn-outline-success:hover{
    background-color: #c7b446;
}

.navbar-toggler{
    background-color: #c7b446;
    border-color: green;
}

.spec{
    background: #98ff98;
}

.spec-text{
    color: #654321;
}

.menu{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.price{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-card:hover{
    border-color: #98ff98;
    border-width: 2px; 
}

.btn-outline-secondary{
    background-color: #98ff98;
    color: #654321;
}

.send-btn{
    margin-top: 1%;
}

.actual-price{
    padding-right: 10px;
}

.choice{
    background-color: #98ff98;
    margin-top: 30px;
}

#find:hover{
    background-color: #c7b446;
    color: white;
}

.is-student{
    color: #654321;
}

.btn-outline-secondary:hover{
    background-color: #c7b446;
}

.main-body{
    margin-top: 40px;
}

.carousel-img{
    max-width: 100%;
}

.confirm-order{
    background-color: #98ff98;
    color: #654321;
}

.confirm-order:hover{
    background-color: #c7b446;
    color: white;
}

.confirm-order:{
    background-color: #c7b446;
    color: white;
}